.add-photo{
    border: dashed 1px #333;
    margin-top: 12px;
    height: 100px;
    width: 100%;
    .add-photo__img{
      width: 30px;
    }
  }

  .photo-main{
    ul{
      li{
        cursor: pointer !important;
        a{
          opacity: 0.5;
          color: black !important;
          &.active, &:hover{
            opacity: 1;
          }
          .xsmall-icon{
            margin-right: 4px;
            margin-bottom: 2px;
            width: 14px;
          }
        }
      }
    }
  }

.text-center{
  padding: 0px !important;
}

@media (max-width: 390px){
  .nav-tabs {
    font-size: 13px !important;
  }
}

@media (max-width: 420px){
  .nav-tabs {
    font-size: 13px !important;
  }
}

@media (max-width: 321px){
  .nav-tabs {
    font-size: 9px !important;
  }
}