.add-photo{
    border: dashed 1px #333;
    margin-top: 12px;
    height: 100px;
    width: 100%;
    .add-photo__img{
      width: 30px;
    }
  }

  .photo-main{
    ul{
      li{
        cursor: pointer !important;
        a{
          color: #767676;
          &.active, &:hover{
            color: black !important;
          }
        }
      }
    }
  }

.text-center{
  padding: 0px !important;
}