.profile-layout{
    margin: auto;
    display: flex;
    justify-content: center;
    .profile-layout__avatar{
        position: relative;
        margin-right: 24px;
        .profile-layout__avatar--img{
            width: 120px;
            border-radius: 50%;
        }
    }
    .profile-data{
        margin-left: 24px;
    }

}

