
$text-color: #767676;
.signout-div{
    cursor: pointer;
    color: white !important;
    padding-left: 8px;
    &:hover{
        color: $text-color !important;
    }
}
.submitphoto-div{
    cursor: pointer;
    color: $text-color;
    &:hover{
        color: black;
    }
}
.navbar{
    .nav-brand{
        margin-left: 32px;
        margin-right: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family:'Style Script';
        font-size: 28px;
        flex-grow: 0;
        .header__logo{
            font-size: 26px;
            width: 31px;
            margin-right: 8px;
        }
        .header__text{
            margin:0px;
            color: black;
        }
    }
    .navbar-toggler{
        padding: 0.1rem 0.1rem !important;
        font-size: 0.8rem !important;
        color: $text-color;
    }
    .nav-search{
        background-color: #eee;
        font-size: 18px;
        border-radius: 20px;
        padding: 0.3rem 0.5rem 0.3rem 0.8rem;
        border: solid 0.8px transparent;
        display: flex;
        justify-content: space-between;
        flex-grow: 5 !important;
        margin: 8px 8px;
        &:hover{
            border: solid 0.8px #b9b9b9;
        }
        .nav-search__input{
            background-color: #eee !important;
            font-size: 0.9em;
            width: 350px;
            border: none;
            width: auto;
            flex-grow: 1;
            &:focus{
            outline: 0;
           
            }
            
            
        }
        .nav-search__btn{
            border: none;
            background-color: #eee !important;
            .nav-search__btn--icon{
                width: 18px;
                opacity: 0.6;
            }
        }
    }

    .navbar-collapse{    
        justify-content: center;
        font-size: 18px;
        flex-grow: 1 !important;
        .nav-item{
            display: flex;
            align-items: center;
            margin: 0px 8px !important;
            a, div{
                font-size: 1rem;
                color: $text-color;
                &:hover{
                    color: black;
                }
            }
        }
    }
}
.avatar-btn{
    background: none !important;
    padding: 0 !important;
    border: none !important;
    .avatar-img{
        border-radius: 50%;
    }
}
.user-menu{
    right: -4px !important;
    margin-top: 4px !important;
    background-color: #111 !important;
    .dropdown-item{
        padding: 4px !important;
        &:hover{
            background-color: unset;
            .user-item{
                color: $text-color !important;
            }
            
        }
        .user-item{
            color: white !important;
            padding-left: 8px;
            display: block;
        }
}
}
@media (max-width: 377px){
    .navbar{
        .navbar-collapse{  
            .nav-item{
                font-size: 13px;
            }
        }
        .nav-brand{
            margin: 0px 0px 0px 8px !important;
            flex-grow: unset;
            }
    }
    .header__text{
        display: none;
    }
    .header__logo{
        width: 28px !important;
    }
    .nav-search{
        margin:0 !important;
        flex-grow: 0.5 !important;
    }
}
@media (max-width: 770px){
    .navbar-toggler{
        width: 32px;
        height: 28px;
    }
    .nav-brand{
        flex-grow: unset !important;
        .header__text{
            font-size: 26px;
        }
        .header__logo{
            width: 36px !important;
        }
    }
    
}
