$primary: #9E9E9E;
$text-color: #F5F5F5;
.header{
    background-color: $primary;
    padding: 0.5rem 0;
    font-size: 1.55rem;
    .header__logo{
        width: 8%;
        color: $text-color !important;
    }
    &__link{
        font-weight: bold;
        color: $text-color !important;
        
        transition: all 0.25s ease-in-out 0s;
        &--active,
        &:hover{
            text-decoration: none;
            color: $primary;
        }
    }
    .header__add-photo{
        color: white;
        font-style: italic;
        margin-right: 10px;
    }
    .header__logo--add{
        width: 5%;
    }
    
}