.banner{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 15rem;
    margin-bottom: 20px;
    background-image: url(../../assets/images/banner1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    &__text{
        color: white;
        font-weight: bold;
        position: absolute;
        bottom: 0%;
        left:0%;
        a{
            color: rgb(203, 203, 203) !important;
            &:hover{
                color: white !important;
            }
        }
    }
}